<odoo>
    <!-- Nuevo menú Licencias en recursos humanos -->
    <!-- Menú principal "Licencias" -->
    <menuitem 
        id="hr_enhancement.menu_hr_license"
        name="Licencias"
        parent="hr.menu_hr_root"
        sequence="10"/>
    <menuitem 
        id="hr_enhancement.menu_my_licenses"
        name="Mis Licencias"
        parent="hr_enhancement.menu_hr_license"
        action="hr_enhancement.action_my_licenses"
        sequence="1"/>
    <!-- Submenú "Aprobar Licencias" -->
    <menuitem 
        id="hr_enhancement.menu_approve_licenses"
        name="Aprobar Licencias"
        parent="hr_enhancement.menu_hr_license"
        action="hr_enhancement.action_approve_licenses"
        sequence="2"/>

    <!-- Menú principal "Planilla de Sueldos" -->
    <menuitem 
        id="hr_enhancement.menu_hr_payroll_salary"
        name="Planilla de Sueldos"
        parent="hr.menu_hr_root"
        sequence="10"/>
    <menuitem 
        id="hr_enhancement.menu_payroll_eventuales"
        name="Planilla de Eventuales"
        parent="hr_enhancement.menu_hr_payroll_salary"
        action="hr_enhancement.action_hr_payroll_eventuales"
        sequence="1"/>
    <menuitem 
        id="hr_enhancement.menu_payroll_employees"
        name="Planilla de Empleados"
        parent="hr_enhancement.menu_hr_payroll_salary"
        action="hr_enhancement.action_hr_payroll_employees"
        sequence="2"/>

    <!-- Nuevo menú dentro de Recursos Humanos > Configuración -->
    <menuitem 
        id="hr_enhancement.menu_hr_season_labor_cost_config"
        name="Recursos Humanos"
        parent="hr.menu_human_resources_configuration"
        sequence="25"/>
        
    <record id="action_hr_season_labor_cost" model="ir.actions.act_window">
        <field name="name">Costos Laborales por Temporada</field>
        <field name="res_model">hr.season.labor.cost</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem
        id="hr_enhancement.menu_hr_season_labor_cost_config_action"
        name="Costos Laborales por Temporada"
        parent="hr_enhancement.menu_hr_season_labor_cost_config"
        action="action_hr_season_labor_cost"
        sequence="1"/>

    <record id="action_hr_work_schedule" model="ir.actions.act_window">
        <field name="name">Rangos de Horario Laboral</field>
        <field name="res_model">hr.work.schedule</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem
        id="hr_enhancement.menu_hr_work_schedule_action"
        name="Rangos de Horario Laboral"
        parent="hr_enhancement.menu_hr_work_schedule_config"
        action="action_hr_work_schedule"
        sequence="1"/>
    
</odoo>
