<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <!-- HEREDAR MENU DE WMS ENHANCEMENT-->    
    <menuitem
        id="stock_wms.menu_import_container_excel_wizard"
        name="Importar Contenedores"
        parent="wms_enhancement.wms_logo"
        action="stock_wms.action_view_import_container_excel_wizard_form"
        sequence="20"/>
</odoo>