<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!--HEREDAR EL contacts.res_partner_menu_config -->
    <record id="stock_metodo_envio" model="ir.ui.menu">
        <field name="name">Transportes</field>
        <field name="parent_id" ref="contacts.res_partner_menu_config"/>
        <field name="action" ref="delivery.action_delivery_carrier_form"/>
        <field name="sequence" eval="1"/>
    </record>

    <!--HEREDAR EL stock.menu_stock_root -->
    <record id="stock_picking_ruteo_menu" model="ir.ui.menu">
        <field name="name">Ruteo de Pedidos</field>
        <field name="parent_id" ref="stock.menu_warehouse_report"/>
        <field name="action" ref="action_stock_picking_ruteo"/>
        <field name="sequence" eval="150"/>
    </record>
</odoo>
