<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Menú raíz -->
    <menuitem id="tms_root_logo" name="TMS" sequence="5" web_icon="tms_service,static/description/icon.png"/>

    <!-- Submenu de Ruteo de Inventario-->
    <menuitem id="menu_tms_inventario" name="Ruteo de Inventario" parent="tms_root_logo"
              action="action_tms_stock_picking" sequence="10"/>
    
    <!-- SUBMENU DE HOJA DE RUTA-->
    <menuitem id="menu_tms_roadmap"
              name="Hojas de Ruta"
              parent="tms_root_logo"
              action="action_tms_roadmap"
              sequence="30"/>

    <!-- Submenu de Citaciones-->
    <menuitem id="menu_tms_citation"
              name="Citaciones"
              parent="tms_root_logo"
              action="action_tms_citation"
              sequence="50"/>

    <!-- Submenu de Transporte-->
    <menuitem id="menu_tms_transporte" name="Transportes" parent="tms_root_logo"
              action="delivery.action_delivery_carrier_form" sequence="70"/>



    <!-- Submenu de Configuración -->
    <menuitem id="menu_configuration" name="Configuración" parent="tms_root_logo" sequence="90"/>

    <!-- CONFIGURACION/COMPAÑIAS DE TRANSPORTE 
    <menuitem id="menu_tms_company" name="Compañías de Transporte" parent="menu_configuration"
              action="action_tms_transport_company" sequence="10"/>-->

    <!-- CONFIGURACION/VEHICULOS -->
    <menuitem id="menu_tms_transport" name="Vehículos" parent="menu_configuration"
              action="action_tms_transport" sequence="10"/>
    
    <!-- CONFIGURACION/TIPOS DE VEHICULO -->
    <menuitem id="menu_transport_type" name="Tipos de Vehículo" parent="menu_configuration"
              action="action_tms_transport_type" sequence="20"/>
    
    <!-- CONFIGURACION/SERVICIOS -->
    <menuitem id="menu_tms_service" name="Servicios" parent="menu_configuration" 
              action="action_tms_service" sequence="30"/>

</odoo>
