<odoo>
    <!-- Submenú de Proveedores -->
    <menuitem id="menu_account_move_calendar_to_pay"
                name="Calendario de Pagos"
                parent="account.menu_finance_payables"
                action="action_account_move_calendar_to_pay"
                sequence="40"/>
    <!-- Submenu report de factura de proveedores -->
    <menuitem id="menu_report_factura_proveedor"
        name="Reporte de Facturas Proveedor"
        parent="account.menu_finance_payables"
        action="action_report_factura_proveedor"
        sequence="50"/>

    <!-- Submenu de Importar AFIP Facturas Proveedores -->
    <menuitem id="menu_account_import_afip_facprov_wizard"
        name="Importar AFIP Facturas Proveedores"
        parent="account.menu_finance_payables"
        action="action_account_import_afip_facprov_wizard"
        sequence="60"/>

    <!-- SUBMENU DE REPORTE ACCOUNT FACTURAS-->
    <menuitem 
        id="account_enhancement.menu_account_report_factura_general"
        name="Reportes Generales"
        parent="account.menu_finance_reports"
        sequence="30"/>

    <menuitem
        id="account_enhancement.menu_account_report_factura_action"
        name="Reporte de Facturas"
        parent="account_enhancement.menu_account_report_factura_general"
        action="action_reporte_factura_wizard"
        sequence="1"/>

    <!-- SUBMENU DE PAGOS FUERA DE FECHA EN INFORMES-->
    <menuitem
        id="account_enhancement.menu_account_report_pagos_fuera_fecha_action"
        name="Pagos Fuera de Fecha"
        sequence="2"
        parent="account_enhancement.menu_account_report_factura_general"
        action="action_reporte_pagos_fuera_fecha"/>

    <menuitem
        id="account_enhancement.menu_account_report_libro_mayor_enhancement_action"
        name="Libro Mayor Enhancement"
        sequence="3"
        parent="account_enhancement.menu_account_report_factura_general"
        action="action_general_ledger_enhancement_wizard"/>

    <!-- SUBMENU DE IMPUESTOS BRUTOS -->
    <menuitem
        id="account_enhancement.menu_account_import_afip_impuesto_bruto_wizard"
        name="Importar Impuestos Brutos AFIP"
        parent="l10n_ar.menu_afip_config"
        action="action_import_afip_impuesto_bruto_wizard"
        sequence="70"/>
</odoo>